@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 35px;
}

.header {
  position: relative;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #d4d4d4;
  position: relative;
  height: 100px;
  z-index: 1;
}

.header__logo {
  font-weight: 900;
  font-size: 30px;
  line-height: 35px;
  color: #5671F6;
  text-decoration: none;
  margin: 0 35px;
}

.header__search {
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 35px;
  margin-left: 35px;
}

.header__search::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.header__search:-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.header__search::-ms-input-placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.header__search::placeholder {
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
}

.header__line {
  display: block;
  width: 1px;
  height: 100%;
  background-color: #d4d4d4;
}

.header__menu {
  margin-right: 35px;
  margin-left: auto;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
}

.header__item:not(:last-child) {
  margin-right: 20px;
}

.header__link {
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  text-decoration: none;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__button {
  font-size: 18px;
  line-height: 21px;
  color: #5671f6;
  background-color: transparent;
  padding: 40px 35px;
  cursor: pointer;
}

.header__button_active {
  color: #ffffff;
  background: #5671f6;
}

.film {
  border-bottom: 1px solid #d4d4d4;
}

.film__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  padding: 80px 0;
}

.film__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 60px;
}

.film__banner img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  width: 300px;
  height: 450px;
}

.film__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  line-height: 19px;
  padding: 20px 0;
  color: #5671f6;
  width: 100%;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.film__button span {
  width: 25px;
  height: 25px;
  background-image: url("../img/play-button.svg");
  margin-right: 15px;
}

.film__title {
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  color: #363636;
  margin: 0;
  margin-bottom: 15px;
}

.film__subtitle {
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin: 0;
  margin-bottom: 30px;
}

.film__text {
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  max-width: 510px;
  margin-bottom: 50px;
}

.film__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.film__info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  color: #363636;
  font-size: 16px;
  line-height: 19px;
}

.film__info-item strong {
  width: 100px;
  margin-right: 10px;
  margin-bottom: 15px;
}

.film__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.film__rating-counter {
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  color: #5671f6;
  border: 1px solid #5671F6;
  border-radius: 10px;
  padding: 30px 20px;
  margin-right: 30px;
}

.film__rating-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
}

.film__rating-text {
  font-size: 16px;
  line-height: 19px;
  color: #363636;
  margin-bottom: 5px;
}

.film__rating-text span {
  font-weight: bold;
}

.cast__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 70px;
  margin-bottom: 60px;
}

.cast__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  margin-right: 30px;
  color: #363636;
  cursor: pointer;
}

.cast__subtitle {
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  cursor: pointer;
}

.cast__bottom {
  padding-bottom: 65px;
}

.cast__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 35px;
}

.cast__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
}

.cast__image {
  margin-right: 20px;
}

.cast__image img {
  display: block;
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
}

.cast__info {
  font-size: 16px;
  line-height: 19px;
}

.cast__info h3 {
  font-weight: bold;
  color: #5671f6;
  margin-bottom: 5px;
}

.cast__info h2 {
  color: #a5a5a5;
}

@media (max-width: 1080px) {
  body.lock {
    overflow: hidden;
  }

  .header__row {
    z-index: auto;
  }

  .header__logo {
    position: relative;
    z-index: 9;
  }

  .header__line {
    display: none;
  }

  .header__search {
    position: relative;
    z-index: 9;
    width: 20px;
    margin-left: auto;
    margin-right: 30px;
    padding-left: 0;
  }

  .header__search::-webkit-input-placeholder {
    font-size: 0;
  }

  .header__search:-ms-input-placeholder {
    font-size: 0;
  }

  .header__search::-ms-input-placeholder {
    font-size: 0;
  }

  .header__search::placeholder {
    font-size: 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 35px;
    z-index: 9;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    top: 9px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .header__burger.active::before,
  .header__burger.active::after {
    top: 9px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5671f6;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: auto;
  }

  .header__menu.active {
    top: 0;
  }

  .header__menu::after {
    content: '';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 1px;
    margin: 0 auto;
    margin-top: 75px;
    background-color: #fff;
  }

  .header__list {
    display: block;
    text-align: center;
    margin-top: 200px;
  }

  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .header__link {
    color: #ffffff;
  }

  .header__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    margin-top: 500px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header__buttons.active {
    top: 0;
  }

  .header__button {
    color: #ffffff;
    padding: 0;
  }

  .header__button:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 967px) {
  .film__title {
    font-size: 30px;
  }

  .film__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
  }

  .cast__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .cast__item {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .header::before {
    height: 100%;
  }

  .header__row {
    height: 70px;
  }

  .header__list {
    margin-top: 150px;
  }

  .header__buttons {
    margin-top: 450px;
  }

  .film__row {
    padding: 45px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
  }

  .film__banner {
    margin-right: 0;
    margin: 0 auto;
  }

  .film__about {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 30px;
  }
}

@media (max-width: 599px) {
  .cast__top {
    padding-top: 45px;
    margin-bottom: 45px;
  }

  .cast__bottom {
    padding-bottom: 25px;
  }

  .cast__item {
    -ms-flex-preferred-size: 90%;
    flex-basis: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: 471px) {
  .container {
    padding: 0 10px;
  }

  .header__logo {
    margin-left: 15px;
  }

  .header__burger {
    margin-right: 15px;
  }

  .film__title {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 10px;
  }

  .film__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
}